.btn-icon {
  cursor: pointer;
  min-width: 70px;
  min-height: 40px;
  padding: var(--space-md);
  border-radius: var(--radius-md);
  color: var(--text-secondary);
  border: 1px solid var(--border);
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--bg-hover);
  }

  img {
    width: 30px;
  }
}

.btn-text {
cursor: pointer;
  width: 100%;
  padding: var(--space-md);
  background: var(--bg-tertiary);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);

  &:hover {
    background: var(--bg-hover);
  }
}
