@layer components {
    .logo {
        display: flex;
        align-items: center;
        gap: var(--space-md);
    }

    .logo-text {
        font-size: 1.5rem;
        border-radius: var(--radius-sm);
        padding: 0.5rem 2rem 0.5rem 2rem;
        background: var(--primary);
        color: white;
    }
}