@layer reset, base, layout, components;
 
:root {
    --bg-main: #f5ebe0;
    --bg-secondary: #edede9;
    --bg-tertiary: #e3d5ca;
    --bg-hover: #d5bdaf;
 
    --text-primary: #25252F;
    --text-secondary: #282832;
    --text-muted: #2D2D3A;
 
    --border: #2d2d3a31;
 

    --sidebar-width: 280px;
    --header-height: 70px;
 
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
 
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
}